<a href="https://colab.research.google.com/github/jithesh9539/ML_Based_Spam_Filter/blob/main/ML_SPAM_FILTER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd

In [51]:
d1=["Free-Coupons for next movie. The above links will take you straight to our partner's site. For more information or to see other offers available, you can also visit the Grouponon the Working Advantage website"
,"Free-Coupons for next movie. The above links will take you straight to our partner's site. For more information or to see other offers available, you can also visit the Grouponon the Working Advantage website",
"Enter to win $25,000 and get a Free Hotel Night! Just click here for a $1 trial membership in NetMarket, the Internet'spremier discount shopping site:Fast Company EZVenture gives you FREE business articles,PLUS, you could win YOUR CHOICE of a BMW Z3 convertible, $100,000, shares of Microsoft stock, or a home office computer. Go there and get your chances to win now.A crazy-funny-cool trivia book with a $10,000 prize? PLUS chocolate, nail polish, cats, barnyard animals, and more?",
"Dear recipient,Avangar Technologies announces the beginning of a new unprecendented global employment campaign. Due to company's exploding growth Avangar is expanding business to the European region. During last employment campaign over 1500 people worldwide took part in Avangar's businessand more than half of them are currently employed by the company. And now we are offering youone more opportunity to earn extra money working with Avangar Technologies.We are looking for honest, responsible, hard-working people that can dedicate 2-4 hours of theirtime per day and earn extra Â£300-500 weekly. All offered positions are currently part-time and give you a chance to work mainly from home",
"I know that's an incredible statement, but bear with me while I explain. You have already deleted mail from dozens of \"Get Rich Quick\" schemes, chain letter offers, and LOTS of other absurd scams that promise to make you rich overnight with no investment and no work. My offer isn't one of those. What I'm offering is a straightforward computer-based service that you can run full-or part-time like a regular business. This service runs auto-matically while you sleep, vacation, or work a \"regular\" job. It provides a valuable new service for businesses in your area. I'm offering a high-tech, low-maintenance, work-from anywhere business that can bring in a nice comfortable additional income for your family. I did it for eight years. Since I started inviting others to join me, I've helped over 4000 do the same"
]

In [52]:
dataframe=pd.DataFrame(d1, columns=['Message'])

In [53]:
d2 = [1]*5

In [54]:
d2

[1, 1, 1, 1, 1]

In [55]:
dataframe['Spam Status']=d2

In [56]:
dataframe

                                             Message  Spam Status
0  Free-Coupons for next movie. The above links w...            1
1  Free-Coupons for next movie. The above links w...            1
2  Enter to win $25,000 and get a Free Hotel Nigh...            1
3  Dear recipient,Avangar Technologies announces ...            1
4  I know that's an incredible statement, but bea...            1

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [58]:
vectors = vectorizer.fit_transform(dataframe["Message"])
feature_names = vectorizer.get_feature_names()

In [59]:
dense = vectors.todense()

In [60]:
denselist = dense.tolist()

In [61]:
df = pd.DataFrame(denselist, columns=feature_names)

In [62]:
df

        000        10       100  ...    youone      your        z3
0  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
1  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
2  0.323244  0.107748  0.107748  ...  0.000000  0.173861  0.107748
3  0.000000  0.000000  0.000000  ...  0.084927  0.000000  0.000000
4  0.000000  0.000000  0.000000  ...  0.000000  0.130836  0.000000

[5 rows x 227 columns]

In [63]:
dataframe.head(10)

                                             Message  Spam Status
0  Free-Coupons for next movie. The above links w...            1
1  Free-Coupons for next movie. The above links w...            1
2  Enter to win $25,000 and get a Free Hotel Nigh...            1
3  Dear recipient,Avangar Technologies announces ...            1
4  I know that's an incredible statement, but bea...            1

In [65]:
dataframe.shape

(5, 2)

In [66]:
dataframe.head

<bound method NDFrame.head of                                              Message  Spam Status
0  Free-Coupons for next movie. The above links w...            1
1  Free-Coupons for next movie. The above links w...            1
2  Enter to win $25,000 and get a Free Hotel Nigh...            1
3  Dear recipient,Avangar Technologies announces ...            1
4  I know that's an incredible statement, but bea...            1>

In [67]:
from collections import Counter
from sklearn.naive_bayes import MultinomialNB, GaussianNB, BernoulliNB
from sklearn.svm import SVC, NuSVC, LinearSVC

In [69]:
X=dataframe['Message']
Y=dataframe['Spam Status']

In [70]:
X

0    Free-Coupons for next movie. The above links w...
1    Free-Coupons for next movie. The above links w...
2    Enter to win $25,000 and get a Free Hotel Nigh...
3    Dear recipient,Avangar Technologies announces ...
4    I know that's an incredible statement, but bea...
Name: Message, dtype: object

In [71]:
Y

0    1
1    1
2    1
3    1
4    1
Name: Spam Status, dtype: int64

In [73]:
l1=X.tolist()
vectorizer = TfidfVectorizer(
input= l1 ,  # input is the actual text
lowercase=True,      # convert to lowercase before tokenizing
stop_words='english' # remove stop words
)
features_train_transformed = vectorizer.fit_transform(X)

In [74]:
l1

["Free-Coupons for next movie. The above links will take you straight to our partner's site. For more information or to see other offers available, you can also visit the Grouponon the Working Advantage website",
 "Free-Coupons for next movie. The above links will take you straight to our partner's site. For more information or to see other offers available, you can also visit the Grouponon the Working Advantage website",
 "Enter to win $25,000 and get a Free Hotel Night! Just click here for a $1 trial membership in NetMarket, the Internet'spremier discount shopping site:Fast Company EZVenture gives you FREE business articles,PLUS, you could win YOUR CHOICE of a BMW Z3 convertible, $100,000, shares of Microsoft stock, or a home office computer. Go there and get your chances to win now.A crazy-funny-cool trivia book with a $10,000 prize? PLUS chocolate, nail polish, cats, barnyard animals, and more?",
 "Dear recipient,Avangar Technologies announces the beginning of a new unprecendented global employment campaign. Due to company's exploding growth Avangar is expanding business to the European region. During last employment campaign over 1500 people worldwide took part in Avangar's businessand more than half of them are currently employed by the company. And now we are offering youone more opportunity to earn extra money working with Avangar Technologies.We are looking for honest, responsible, hard-working people that can dedicate 2-4 hours of theirtime per day and earn extra Â£300-500 weekly. All offered positions are currently part-time and give you a chance to work mainly from home",
 'I know that\'s an incredible statement, but bear with me while I explain. You have already deleted mail from dozens of "Get Rich Quick" schemes, chain letter offers, and LOTS of other absurd scams that promise to make you rich overnight with no investment and no work. My offer isn\'t one of those. What I\'m offering is a straightforward computer-based service that you can run full-or part-time like a regular business. This service runs auto-matically while you sleep, vacation, or work a "regular" job. It provides a valuable new service for businesses in your area. I\'m offering a high-tech, low-maintenance, work-from anywhere business that can bring in a nice comfortable additional income for your family. I did it for eight years. Since I started inviting others to join me, I\'ve helped over 4000 do the same']

In [75]:
classifier = MultinomialNB()
classifier.fit(features_train_transformed, Y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [77]:
print("classifier accuracy {:.2f}%".format(classifier.score(features_train_transformed, Y) * 100))

classifier accuracy 100.00%

In [81]:
msg="Our records indicate your Pension is under performing to see higher growth and up to 25% cash release reply PENSION for a free review. To opt out reply STOP"
data = [msg]
vect = vectorizer.transform(data).toarray()
my_prediction = classifier.predict(vect)
print(my_prediction)

[1]